<div class="container py-5">
  <div class="w-75 m-auto">
    <form [formGroup]="resetPassword"  (ngSubmit)="handelResetPassword(resetPassword)">
      <h2 class="mb-2">Reset Your Password :</h2>
      <p class="alert alert-danger text-center" *ngIf="apiErrorMassage">{{apiErrorMassage}}</p>
      <div class="form-group mb-2">
        <label class="mb-2" for="Email">Enter Your Email :</label>
        <input formControlName="email"   type="email" class="form-control" id="Email">
        <div *ngIf="resetPassword.get('email')?.errors && resetPassword.get('email')?.touched"  class="text-danger">
          <p *ngIf="resetPassword.get('email')?.getError('required')"  class="m-0">Requierd</p>
          <p *ngIf="resetPassword.get('email')?.getError('email')" class="m-0">Email not valid</p>
        </div>
      </div>
      <div class="form-group mb-2">
        <label class="mb-2" for="Password">New Password :</label>
        <input formControlName="newPassword"  type="password" class="form-control" id="Password">
        <div *ngIf="resetPassword.get('newPassword')?.errors && resetPassword.get('password')?.touched"  class="text-danger">
          <p *ngIf="resetPassword.get('newPassword')?.getError('required')"  class="m-0">Requierd</p>
          <p *ngIf="resetPassword.get('newPassword')?.getError('pattern')" class="m-0">Password not valid</p>
        </div>
      </div>
      <div class="d-flex justify-content-end align-items-center mt-2">
        <button class="bg-main btn text-white" [disabled]="resetPassword.invalid || isLoading">
          <span *ngIf="!isLoading">Submit</span>
          <span *ngIf="isLoading" class="fa-solid fa-spinner fa-spin"></span>

        </button>
      </div>

    </form>
  </div>
</div>
