

<div class="container-fluid bg-main-light py-5 ">
 <h4 class="mx-3">Get the FreshCart app</h4>
<p class="text-muted mx-3">We will send you a link , open it on your phone to download the app</p>
<div class="container border-footer pb-4">
  <div class="row ">
    <div class="col-lg-9">
      <input type="text" class="form-control">
    </div>
    <div class="col-lg-3">
      <button class="btn bg-main w-100 text-white">Share app link</button>
    </div>

  </div>

</div>
<div class="py-3 text-center">
  Created By <span class="text-main fw-bolder">Ahmed Saadallah </span> ©2024
</div>

</div>
